@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.bodyText {
  @apply text-sm lg:font-clashmd lg:text-lg;
}

.heading {
  @apply text-3xl lg:text-4xl font-clashmd lg:font-clashsm lg:opacity-90;
}
